<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FakeRestApi">
    <test verbose="2"  name="FakeServerWithRestAssured">
        <classes>
            <class name="tests.PetStoreTest">
                <methods>
                    <include name="placeOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>